:root:root{
  --adm-color-primary: #893AF6;
  --adm-color-success: #00b578;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;

  --adm-color-white: #ffffff;
  --adm-color-text: #FFFFFF;
  --adm-color-text-secondary: #666666;
  --adm-color-weak: #999999;
  --adm-color-light: #cccccc;
  --adm-color-border: #eeeeee;
  --adm-color-box: #141414;
  --adm-color-background: #141414;

  --adm-font-size-main: var(--adm-font-size-5);
  --adm-font-family: "Alibaba PuHuiTi 2.0",Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --w3m-font-family: "Alibaba PuHuiTi 2.0",Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root{
  font-family: "Alibaba PuHuiTi 2.0",Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
